Stock Market Crash Analysis

This notebook analyzes historical Sensex data to identify and visualize market crashes, drawdowns, and early-warning signals. The code cells below load the data, compute returns and drawdowns, and produce Plotly visualizations with improved styling and hover information.

### Import Required Libraries

In [28]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

### Load Dataset

In [29]:
df = pd.read_csv('cleaned_sensex.csv')
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values('Date')
df.set_index('Date', inplace=True)

df.head()

                  Close         High          Low         Open  Volume
Date
1997-07-01  4300.859863  4301.770020  4247.660156  4263.109863     0.0
1997-07-02  4333.899902  4395.310059  4295.399902  4302.959961     0.0
1997-07-03  4323.459961  4393.290039  4299.970215  4335.790039     0.0
1997-07-04  4323.819824  4347.589844  4300.580078  4332.700195     0.0
1997-07-07  4291.450195  4391.009766  4289.490234  4326.810059     0.0

### Calculate Daily Returns

In [30]:
df['Daily_Return'] = df['Close'].pct_change() * 100
df.head()

,Close,High,Low,Open,Volume,Daily_Return
Date,,,,,,
1997-07-01,4300.859863,4301.770020,4247.660156,4263.109863,0.0,NaN
1997-07-02,4333.899902,4395.310059,4295.399902,4302.959961,0.0,0.768219
1997-07-03,4323.459961,4393.290039,4299.970215,4335.790039,0.0,-0.240890
1997-07-04,4323.819824,4347.589844,4300.580078,4332.700195,0.0,0.008323
1997-07-07,4291.450195,4391.009766,4289.490234,4326.810059,0.0,-0.748635

### Identify Daily Crash Days

In [31]:
CRASH_THRESHOLD_DAILY = -5

df['Crash_Daily'] = df['Daily_Return'] <= CRASH_THRESHOLD_DAILY
df[['Close', 'Daily_Return', 'Crash_Daily']].head(20)

                  Close  Daily_Return  Crash_Daily
Date
1997-07-01  4300.859863           NaN        False
1997-07-02  4333.899902      0.768219        False
1997-07-03  4323.459961     -0.240890        False
1997-07-04  4323.819824      0.008323        False
1997-07-07  4291.450195     -0.748635        False
1997-07-08  4306.390137      0.348133        False
1997-07-09  4404.689941      2.282650        False
1997-07-10  4378.370117     -0.597541        False
1997-07-11  4321.979980     -1.287925        False
1997-07-14  4225.020020     -2.243415        False
1997-07-15  4221.020020     -0.094674        False
1997-07-16  4183.419922     -0.890782        False
1997-07-17  4193.609863      0.243579        False
1997-07-18  4124.810059     -1.640587        False
1997-07-21  4154.279785      0.714450        False
1997-07-22  4186.290039      0.770537        False
1997-07-23  4251.129883      1.548862        False
1997-07-24  4226.370117     -0.582428        False
1997-07-25  4189.810059     -0.865046        False
1997-07-28  4181.479980     -0.198818        False

In [32]:
CRASH_THRESHOLD_DAILY = -5

df['Crash_Daily'] = df['Daily_Return'] <= CRASH_THRESHOLD_DAILY
df[['Close', 'Daily_Return', 'Crash_Daily']].tail(20)

                  Close  Daily_Return  Crash_Daily
Date
2025-03-03  73085.93750     -0.153234        False
2025-03-04  72989.92969     -0.131363        False
2025-03-05  73730.22656      1.014245        False
2025-03-06  74340.09375      0.827160        False
2025-03-07  74332.57813     -0.010110        False
2025-03-10  74115.17188     -0.292478        False
2025-03-11  74102.32031     -0.017340        False
2025-03-12  74029.75781     -0.097922        False
2025-03-13  73828.90625     -0.271312        False
2025-03-17  74169.95313      0.461942        False
2025-03-18  75301.25781      1.525287        False
2025-03-19  75449.04688      0.196264        False
2025-03-20  76348.06250      1.191553        False
2025-03-21  76905.50781      0.730137        False
2025-03-24  77984.38281      1.402858        False
2025-03-25  78017.18750      0.042066        False
2025-03-26  77288.50000     -0.934009        False
2025-03-27  77606.42969      0.411354        False
2025-03-28  77414.92188     -0.246768        False
NaT                 NaN           NaN        False

In [48]:
print(df.index.dtype)

datetime64[us]

### Plot Closing Price with Daily Crashes

In [45]:
import plotly.io as pio
print(pio.renderers)

Renderers configuration
-----------------------
    Default renderer: 'vscode'
    Available renderers:
        ['plotly_mimetype', 'jupyterlab', 'nteract', 'vscode',
         'notebook', 'notebook_connected', 'kaggle', 'azure', 'colab',
         'cocalc', 'databricks', 'json', 'png', 'jpeg', 'jpg', 'svg',
         'pdf', 'browser', 'firefox', 'chrome', 'chromium', 'iframe',
         'iframe_connected', 'sphinx_gallery', 'sphinx_gallery_png']

In [53]:
import matplotlib.pyplot as plt
import seaborn as sns

# Ensure datetime index
df.index = pd.to_datetime(df.index)

# Create figure
plt.figure(figsize=(14,6))

# Line plot for closing price
sns.lineplot(x=df.index, y=df['Close'])

# Highlight crash days
crash_df = df[df['Crash_Daily'] == True]

plt.scatter(crash_df.index, crash_df['Close'], color='red', label='Daily Crash')

# Titles and labels
plt.title("Sensex Closing Price with Daily Crashes")
plt.xlabel("Date")
plt.ylabel("Index Value")
plt.legend()

plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

ModuleNotFoundError: No module named 'matplotlib'